.category-container {
  display: flex;
  gap: 0;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
.category-title{
	margin-bottom: 0;
}
.category-title+h2{
	font-size: 1.4em;
}

.category-container p {
  margin-bottom: 0;
}

@media screen and (min-width: 700px) {
	.category-container {
		font-size: 16px;
	}
}

